.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  font-family: 'Inter', sans-serif;
  padding: 1.7rem 0 1rem;
}

.navbar-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 3.6rem;
  font-family: "Chicle", serif;
  color: #DACA3B;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  transition: max-height 0.3s ease;
}

.navbar-links a {
  font-size: 2.3rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links .active {
  color: #DACA3B;
  font-weight: 700;
}

.btn-inscription {
  background-color: rgba(65, 85, 79, 0.8);
  padding: 0.6rem 1.8rem;
  border-radius: 9999px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.logout-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
  width: 30px;
  cursor: pointer;
}

.burger span {
  background: white;
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    gap: 1rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .navbar-links.open {
    max-height: 500px;
  }
}
